<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" alt="logo-ml" class="logoml">
        <form>
            <input type="text" name="busqueda" placeholder="Buscar productos,marcas" id="search">
        </form>
        <span><i class="fas fa-search" id="busqueda"></i></span>
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</h2>
        </div>
        <nav class="main-header-bottom-bar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="register.html">Crea tu cuenta<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="login.html">Ingresa <i class="far fa-id-card"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <input type="checkbox">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
                <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="register.html">Crea tu cuenta</a></li>
                    <li><a href="login.html">Ingresa</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
            </div>
    </header>
    <main>
        <div><img src="/images/img-home-banner.jpg" alt="banner" id="banner"></div>
        <h1 class="titulares">Basado en tu última visita</h1>
        <section id="ultima-visita">
            <h2>Basado en tu ultima visita</h2>
                <article class="article">
                    <h2>cafetera</h2>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="caf-moulinex">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$6.770</p>
                    <p class="d">40% off</p></div>
                    <section class="descripcion"><h4>Cafetera Moulinex</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, 
                        corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, reprehenderit 
                        quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta harum hic!</p></section></div></article>
                <article class="article"> 
                    <h2>macbook</h2>  
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$230.000</p>
                    <p class="d">20% off</p></div>
                    <section class="descripcion"><h4>MacBook Pro 2019</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                         corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, 
                         reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta 
                         harum hic!</p></section></div></article>
                <article class="article">
                    <h2>samsung galaxy</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="s-galaxy-s10">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$70.500</p>
                    <p class="d">10% off</p></div>
                    <section class="descripcion"><h4>Samsung Galaxy S10</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, 
                        corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, 
                        reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta 
                        harum hic!</p></section></div></article>
                <article class="article">
                    <h2>smart tv</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$23.200</p>
                    <p class="d">5% off</p></div>
                    <section class="descripcion"><h4>SmartTv Samsung 43"</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, 
                        corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias,
                         reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta 
                         harum hic!</p></section></div></article>
        </section>

        <h1 class="titulares">Ofertas</h1>
        <section id="ofertas">
            <h2>Ofertas</h2>
                <article class="article">
                    <h2>cafetera</h2>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="caf-moulinex">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$6.770</p>
                    <p class="d">40% off</p></div>
                    <section class="descripcion"><h4>Cafetera Moulinex</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                         corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, 
                         reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta
                          harum hic!</p></section></div></article>
                <article class="article">
                    <h2>macbook</h2>   
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$230.000</p>
                    <p class="d">20% off</p></div>
                    <section class="descripcion"><h4>MacBook Pro 2019</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, 
                        corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, 
                        reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta 
                        harum hic!</p></section></div></article>
                <article class="article">
                    <h2>samsung galaxy</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="s-galaxy-s10">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$70.500</p>
                    <p class="d">10% off</p></div>
                    <section class="descripcion"><h4>Samsung Galaxy S10</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                         corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias,
                          reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta 
                          harum hic!</p></section></div></article>
                <article class="article">
                    <h2>smart tv</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung">
                    <div class="caja-article">
                    <i class="fas fa-truck"></i>
                    <div><p class="precio">$23.200</p>
                    <p class="d">5% off</p></div>
                    <section class="descripcion"><h4>SmartTv Samsung 43"</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                         corrupti obcaecati aspernatur voluptates ullam maiores, odit dolorum error alias, 
                         reprehenderit quam voluptatem consectetur dolores! Doloribus dolorem culpa dicta
                          harum hic!</p></section></div></article>
        </section>
      
    </main>
    <footer>
        <div id="footer"><div class="container"><i class="fas fa-credit-card fa-2x"></i>
        <h2>Pagá con tarjeta o efectivo</h2>
        <p class="texto">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
        <div class="container"><i class="fas fa-gift fa-2x"></i>
        <h2>Envío gratis desde los $2.500</h2>
        <p class="texto">Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p></div>
        <div class="container"><i class="fas fa-user-shield fa-2x"></i>
        <h2>Seguridad de principio a fin</h2>
        <p class="texto">¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p></div></div>
        <p class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>